.advantages-section {
  padding-top: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
  }
}

.advantages-section__title {
  @extend %visually-hidden;
}

.advantages-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.advantages-section__item {
  margin: 0 0 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 4);
    margin: 0 15px;
  }
}

.advantages-section__wrapper {
  @include centeredFlex();
  width: 100%;
  height: 120px;
  background-color: map-get($colors, "bg-color-advantages-icon");
  margin-bottom: 30px;
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.advantages-section__icon {
  width: 70px;
  height: 70px;
}

.advantages-section_caption {
  margin-bottom: 10px;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: map-get($colors, "black-color");
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
  @media screen and (min-width: $desktop) {
    text-align: unset;
  }
}

.advantages-section_text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: inherit;
}
