.footer-section {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer-section__container {
  display: flex;
  align-items: baseline;
}

.footer-section__contact {
  width: 231px
}

.footer-section__logo {
  @extend %logo;
  color:aliceblue;
}
.footer-section--accent {
  color: map-get($colors, 'accent-color')
}

.footer-section__address {
  margin-top: 20px;
  font-style: inherit;
}

.footer-section__item:not(:first-child) {
  margin-top: 9px;
}

.footer-section__link,
.footer-section__location{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms $time-function;

    &:hover,
    &:focus {
      color: map-get($colors, 'accent-color');
    }
}
.footer-section__location {
  color: map-get($colors,'white-text-color');
}

.footer-section__social {
  margin-left: 70px;
}

.footer-section__title {
  margin-bottom: 20px;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;    
  color: map-get($colors,'white-text-color');
}

.footer-section__block {
  display: flex;
  width: 206px;
}

.footer-section__unit:not(:first-child) {
  margin-left: 10px;
}

.footer-section__ref {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;    
    transition: background-color 250ms $time-function;

    &:hover,
    &:focus {
        background-color: map-get($colors, 'accent-color')
    }
}

.footer-section__icon {
  width: 20px;
  height: 20px;
  fill: map-get($colors,'white-text-color');
}


.footer-section__form {
    margin-left: 93px;
    width: 570px;
}

.footer-section__subscription {
    margin-bottom: 20px;  
    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: map-get($colors, 'white-text-color');
}

.footer-section__field {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-section__email {
  display: inline-block;
    width: 358px;
    padding: 14px 0 14px 16px;
    margin-right: 12px;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        outline: 1px solid map-get($colors, 'accent-color');
    }
}

.footer-section__label {
    position: absolute;
    top: 16px;
    left: 16px;
    transition: left 250ms $time-function;

    .footer-section__email:focus + &,
    .footer-section__email:not(:placeholder-shown) + & {
      left: -52px;
        color: map-get($colors,'white-text-color');
    }
}

.footer-section__button {
    display: inline-flex;
    align-items: center;
    width: 200px;
    padding: 10px 28px;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:map-get($colors, 'white-text-color');
    background-color: map-get($colors,'accent-color');
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms $time-function;
      &:hover,
      &:focus {
        background-color: #188ce8
      }
}

.footer-section__icon {
    width: 24px;
    height: 24px;
    fill: map-get($colors, 'white-text-color');
    margin-left: 10px;
}