.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  height: 796px;
  background-color: map-get($colors,'main-bg-color');
  display: none;
  padding: 48px 40px;

  &.is-open {
    display: block;
  }
  @media screen and (min-width:$mobile) {
    width: 100%;    
  }
  // @media screen and (min-width:$tablet) {
  //   width: 768px;    
  // }
}



.mobile-menu__list {
  margin-bottom: 50px;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  @extend %mobile-link;
    font-size: 40px;
    color: map-get($colors,'black-color');
    transition: color 250ms $time-function;
      &:hover,
      &:focus {
        color: map-get($colors, 'accent-color');
      }
}

.mobile-menu__contacts {
  margin-bottom: 302px;
}

.mobile-menu__contact {
  @extend %mobile-link;
  font-size: 24px;
  color: map-get($colors, 'main-color');
  transition: color 550ms $time-function, font-size 550ms $time-function;
    &:hover,
    &:focus {
      font-size: 34px;
      color:map-get($colors, 'accent-color');
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__block {
  display: flex;
  align-items:flex-start;
}

.mobile-menu__unit {
  display: flex;
}

// .mobile-menu__unit:after {
//   content: '';
//   // display: inline-flex;
//   // flex-direction: column;
//   // align-items: center;
//   // justify-content: center;
//   height: 22px;
//   margin-right: 10px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
// }

.mobile-menu__unit:not(:last-child){
    &::after {
      content: '';
      display: block;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      margin: 0 10px;
      height: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
}



// .mobile-menu__unit:not(:first-child) {
//   margin-left: 20px;
 
// }

.mobile-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;  
  color: map-get($colors,'accent-color');
  transition: color 550ms $time-function, font-size 550ms $time-function;
    &:hover,
    &:focus {
        font-size: 22px;
        color: #188ce8;
      }
}