.mobile-menu {
  width: 100%;
  height: 796px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  transform: translateX(-150%);
  background-color: map-get($colors, "main-bg-color");
  padding: 48px 40px;
  transition: transform 450ms $time-function;

  &.is-open {
    display: block;
    transform: translateX(0);
  }

  @media screen and (min-width: $tablet) {
    &.is-open {
      display: none;
    }
  }
}

.mobile-menu__list {
  margin-bottom: 50px;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  @extend %mobile-link;
  font-size: 40px;
  color: map-get($colors, "black-color");
  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: map-get($colors, "accent-color");
  }
}

.mobile-menu__contacts {
  margin-bottom: 302px;
}

.mobile-menu__contact {
  @extend %mobile-link;
  font-size: 24px;
  color: map-get($colors, "main-color");
  transition: color 550ms $time-function, font-size 550ms $time-function;
  &:hover,
  &:focus {
    font-size: 34px;
    color: map-get($colors, "accent-color");
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__block {
  display: flex;
  align-items: flex-start;
}

.mobile-menu__unit {
  display: flex;
}

.mobile-menu__unit:not(:last-child) {
  &::after {
    content: "";
    display: block;
    margin: 0 10px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: map-get($colors, "accent-color");
  transition: color 550ms $time-function, font-size 550ms $time-function;
  &:hover,
  &:focus {
    font-size: 22px;
    color: #188ce8;
  }
}
