.page-header {
  position: relative;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
  @media screen and (min-width: $mobile) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.page-header__logo {
  @extend %logo;
  color: #000;
}

.page-header--accent {
  color: map-get($colors, "accent-color");
}

.page-header__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.page-header__item:not(:first-child) {
  margin-left: 50px;
}
.page-header__link {
  @extend %base-link;
  position: relative;
  &:hover,
  &:focus {
    color: map-get($colors, "accent-color");
  }
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
  @media screen and (min-width: $tablet) {
    padding: 32px 0;
  }
}

.page-header--current:after {
  @media screen and (min-width: $tablet) {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: map-get($colors, "accent-color");
  }
}

.page-header__block {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    @include startFlex();
    // display: flex;
    // flex-direction: column;
    // align-items:flex-start;
  }
  @media screen and (min-width: $desktop) {
    @include startFlex($direction: row, $ai: baseline) // display: flex;
      // flex-direction: row;
      // align-items:flex-start; ;
;
  }
}

.page-header__contact {
  @extend %base-link;
  color: inherit;
  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: map-get($colors, "accent-color");
  }
  @media screen and (min-width: $tablet) {
    padding: 0;
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    padding: 32px 0;
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--time-function);
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
