.page-header--after {
  content: "";
  display: block;
  border-bottom: 1px solid #ececec;
}

.portfolio-section {
  @extend %section;
}

.portfolio-section__title {
  @extend %visually-hidden;
}

.portfolio-section__buttonsList {
  @include centeredFlex($jc: flex-start);
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    @include centeredFlex();
  }
}

.portfolio-section__item {
  margin: 0 8px 15px;

  @media screen and (min-width: $tablet) {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.portfolio-section__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: map-get($colors, "black-color");
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms $time-function, color 250ms $time-function,
    box-shadow 250ms $time-function;

  &:hover,
  &:focus {
    background-color: map-get($colors, "accent-color");
    color: map-get($colors, "white-text-color");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/*---------------portfolio-images---------------*/

.portfolio-section__imagesList {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-section__wrapper {
  margin: 0 0 30px;
  transition: box-shadow 250ms $time-function;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
    // &:nth-child(even) {
    //   margin-left: 30px;
    // }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 3);
    // &:nth-child(even) {
    //     margin-left:0;
    //   }
    // margin: 0 15px ;
  }

  // &:nth-child(3n+2) {
  //   // margin:0 30px 30px;
  //   @media screen and (min-width:$desktop) {
  //     margin: 0 30px ;
  //   }
  // }
}

.portfolio-section__link {
  position: relative;
  overflow: hidden;
  &:hover .portfolio-section__overlay,
  &:focus .portfolio-section__overlay {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio-section__image {
  width: 450px;
  @extend %img;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}

.portfolio-section__description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-section__name {
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: map-get($colors, "black-color");
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.portfolio-section__project {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: map-get($colors, "main-color");
}

.portfolio-section__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 24px 63px;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $time-function, opacity 250ms $time-function;
}

.portfolio-section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: map-get($colors, "white-text-color");
}
