@mixin centeredFlex($type: flex, $ai: center, $jc: center) {
  display: $type;
  align-items: $ai;
  justify-content: $jc;
}
@mixin startFlex($type: flex, $direction: column, $ai: flex-start) {
  display: $type;
  flex-direction: $direction;
  align-items: $ai;
}
