%title {
  margin-bottom: 50px;
  font-family: inherit;
  font-weight: $font-weight-bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: map-get($colors, "black-color");
}

%img {
  display: block;
  background-color: map-get($colors, "image-bg-color");
}

%section {
  padding: 60px 0;
}

%base-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: map-get($colors, "black-color");
  transition: color 250ms $time-function;
}

%mobile-link {
  display: inline-flex;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: map-get($colors, "black-color");
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%logo {
  font-family: "Raleway", sans-serif;
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
