*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: map-get($colors, "main-bg-color");
  color: map-get($colors, "main-color");
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}
